* {
    margin: 0;
    padding: 0;
}
/* body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

#contenedor1{
    background: rgb(91, 255, 233);
    width: 30%;
    max-width: 1000px;
    margin: 100px auto;
    padding: 30px;
    display: grid;
    gap: 20px;
    
}

#contenedor1 #contdis{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#display1{
    font-size: xx-large;
    color: green;
    text-align: right;
    background-color: black;
}

.numeros, .signos{
    padding: 20px;
    border: solid black 0.2px;
    border-radius: 5px;
    font-size: large;
}

.numeros{
    background: gray;
}

#botones{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 2px;
    
    


    grid-template-areas: 
    
        "n1 n2 n3 sd sm"
        "n4 n5 n6 sr ss"
        "n7 n8 n9 sr ss"
        "sc n0 si si ce"
    
    ;
}

#n1{
    grid-area: n1;
}

#n2{
    grid-area: n2;
}
#n3{
    grid-area: n3;
}
#n4{
    grid-area: n4;
}
#n5{
    grid-area: n5;
}
#n6{
    grid-area: n6;
}
#n7{
    grid-area: n7;
}
#n8{
    grid-area: n8;
}
#n9{
    grid-area: n9;
}
#n0{
    grid-area: n0;
}

#ss{
    grid-area: ss;
    background-color: crimson;
    font-size: xx-large;
}

#sr{
    grid-area: sr;
}

#sm{
    grid-area: sm;
}

#sd{
    grid-area: sd;
}

#si{
    grid-area: si;
}

#sc{
    grid-area: sc;
}

#ce{
    grid-area: ce;
    background: rgb(60, 60, 230);
    color: white;
}


@media screen and (max-width: 1150px){
    body{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    #contenedor1{
        background: rgb(91, 255, 233);
        width: 80%;
        max-width: 1000px;
        margin: 40px auto;
        padding: 30px;
        display: grid;
        gap: 20px;
        
    }
}


@media screen and (max-width: 600px){
    .numeros, .signos{
        padding: 10px;
        font-size: medium;
    }

    #botones{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, auto);
        gap: 2px;
        
        
    
    
        grid-template-areas: 
        
            "sd sm sr"
            "ss ss ss"
            "n1 n2 n3"
            "n4 n5 n6"
            "n7 n8 n9"
            "sc n0 ce"
            "si si si"
        
        ;
        
    }

    #display1{
        width: 80%;
        max-width: 1000px;
    }
}